body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #5333b4, #3120a2);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.search {
  margin: 20px 0;
  border-radius: 30px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

p {
  margin: 5px 0;
}


